@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap')

body
    font-family: 'Poppins', sans-serif
    background: #f5f5f5
    color: #333333
    a
        text-decoration: none

.container
    width: 100%
    max-width: 920px
    padding: 0 1rem
    margin: 0 auto

header
    background: #FFC996
    padding: 1rem 0
    h1
        color: #583D72

main
    min-height: 100vh
    img
        width: 100%

footer
    background: #583D72
    color: #ffffff
    font-size: 0.8rem
    line-height: 1.2rem
    text-align: center
    padding: 1rem 0
    a
        color: #FF8474